/* Styling the form */
* {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
th {
  font-family: "Source Serif Pro", serif;
}

body {
  padding: 0 10px;
  background-color: #9bb796;
}

.upload-form {
  font-size: 18px;
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  padding: 60px;
  padding-top: 20px;
  padding-right: 90px;
  border-radius: 18px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px dashed black;
  padding-bottom: 20px;
}

.input-field {
  margin-bottom: 15px;
  display: flex;
  align-items: left;
}

.input-field label {
  width: 200px;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.input-field textarea {
  font-size: 20px;
  width: 100%;
}

.input-table {
  width: 100%;
}

.input-table,
.input-table td,
.input-table th {
  border: 2px dashed white;
  border-collapse: collapse;
  padding: 6px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #dddd;
  font-size: 20px;
}

input[type="submit"] {
  transition: 0.3s all;
  border: none;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  padding: 16px 32px;
  text-decoration: none;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
  width: 20%;
  display: block;
  background-color: #cbe2c2;
}

input[type="submit"]:hover {
  background-color: #fff;
}

.submit-wrapper {
  border-top: 2px dashed black;
  padding-top: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .input-field {
    flex-direction: column;
    align-items: flex-start;
  }
}
